body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.panel-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}

.without-padding {
    padding: 0;
}

.category-author-wrapper{
    padding: 10px 10px 10px 10px;
}